<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.strategies360.mililani2">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup,android:supportsRtl"
        tools:targetApi="n">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.core.UncaughtExceptionActivity" />
        <activity android:name=".activity.authentication.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ImageCropActivity" />
        <activity android:name=".activity.LoginPhoneNumberActivity" />
        <activity android:name=".activity.VerificationOTPActivity" />
        <activity
            android:name=".activity.BottomMenuNavigationActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.SampleAuthActivity" /> <!-- <activity -->
        <!-- android:name="com.strategies360.mililani2.activity.SampleProductListActivity" -->
        <!-- android:windowSoftInputMode="stateHidden" /> -->
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/> <!-- class initialization mililani -->
        <activity
            android:name=".activity.SubmitScanMtaCardActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SubmitManuallyMtaCardActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SubmitFinishMtaCardActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.AddScanMtaCardActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.HelpMtaActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.NotificationActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.SubmitNicknameMtaCardActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ActivitiesActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/> <!-- <activity -->
        <!-- android:name="com.strategies360.mililani2.activity.ClassesActivity" -->
        <!-- android:windowSoftInputMode="stateHidden" /> -->
        <activity
            android:name=".activity.EventsResultActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ProfileMtaActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.WebviewRegisterActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.CaffeActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.CategoryProductDetailActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.CartActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.CheckoutActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.WebviewAssessmentActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.WebviewFacilityScheduleActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.WebviewHistoryActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.WebviewHouseholdActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.ThakyouPageActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ContactUSActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SelectFacilityActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SelectLocationActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ReservationActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.AsessmentActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.RecCentersActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.RecCenterActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.NewsActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.EmploymentActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.FormsActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.NewsletterActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SettingMtaActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" /> <!-- Account auth service -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${FABRIC_API_KEY}" /> <!-- Profile sync provider and service -->
        <provider
            android:name=".account.profile.ProfileSyncProvider"
            android:authorities="@string/account_manager_account_provider_profile"
            android:exported="false"
            android:label="@string/account_sync_profile_information"
            android:syncable="true" /> <!-- Fabric -->
        <service
            android:name="itsmagic.present.simpleaccountmanager.AccountAuthService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/account_auth" />
        </service>
    </application>

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Account permission -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" /> <!-- Sync permission -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" /> <!-- Camera / storage permission -->
    <!-- TODO: Remove these when it isn't required -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>